# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/.vs/.vscode.slnx/v18/.wsuo
.vscode/.vs/.vscode.slnx/v18/DocumentLayout.backup.json
.vscode/.vs/.vscode.slnx/v18/DocumentLayout.json
.vscode/.vs/.vscode/CopilotIndices/18.8.1093.27292/CodeChunks.db
.vscode/.vs/.vscode/CopilotIndices/18.8.1093.27292/SemanticSymbols.db
.vscode/.vs/ProjectSettings.json
.vscode/.vs/slnx.sqlite
.vscode/.vs/VSWorkspaceState.json
